.portfolio .content {
  color: #2c3e50;
}
.portfolio .starIcon span {
  background-color: #2c3e50;
}

.portfolio .card {
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}
.portfolio .card .layer {
  background-color: #1abc9c;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.portfolio .card .layer:hover {
  opacity: 0.8;
}
